[Unit]
Description=manages py script measuring rssi
Requires=network-online.target

[Service]
WorkingDirectory=/root/SAAM_DEBUG
ExecStart=/root/SAAM_DEBUG/rssi_logger.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
